{% set answer_id = answer.key.id() %}
{% set question_id = question.key.id() %}
<tr>
    <td class="answer_td" style="display:none;">{{ answer_id }}</td>
    <td class="answer_td" style="display:none;">{{ answer.added_by }}</td>
    <td class="answer_td" style="display:none;">{{ answer.content }}</td>
    <td class="answer_td" style="display:none;">{{ answer.timestamp }}</td>
    <td class="answer_td" style="display:none;">{{ answer.location }}</td>
    {% if question.accepted_answer is none %}
        <td class="answer_td" style="display:none;">
            <form method="post" action="{{ url_for('accept_answer_for_question', question_id=question_id, answer_id=answer_id) }}">
                <button class="btn btn-success btn-sm">Accept</button>
            </form>
        </td>
    {% endif %}
</tr>
