<!-- The following is a test of the Channel API -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<!-- Taken from: http://stackoverflow.com/questions/6589559/appengine-channel-no-messages-arrive -->
<script type="text/javascript" charset="utf-8">
    function tell_user(message) {
        $('#channel-messages').append(message + '<br />');
    }

    function onOpened() {
        console.log('onOpened');
        var connected = true;
        {# tell_user('ready to take messages'); #}
        {#  tell_user('{{ channel_token }}'); #}
    }
    function onMessage(msg_obj) {
        var json_str = msg_obj["data"];
        var info = JSON.parse(json_str);
        var url = info["url"];
        var title = info["title"];
        var msg = "The question ('" + title + "') received a new answer. Click <a href='" + url + "'>here</a> to view it.";
        console.log('onMessage');
        tell_user(msg);
    }
    function onError(obj) {
        console.log('onError');
    }
    function onClose(obj) {
        console.log('onClose');
    }

    var channel = new goog.appengine.Channel('{{ channel_token }}');
    var socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;
</script>
<!-- -->

<h1>Notices</h1>
<div id="channel-messages">&nbsp;</div>