{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <!-- The following is a test of the Channel API -->
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>

    <!-- Taken from: http://stackoverflow.com/questions/6589559/appengine-channel-no-messages-arrive -->
    <script type="text/javascript" charset="utf-8">
        function tell_user(message) {
            $('#CycleChannelMessages').append(message + '<br />');
        }

        function onOpened() {
            console.log('onOpened');
            var connected = true;
            tell_user('ready to take messages');
            tell_user('{{ channel_token }}');
        }
        function onMessage(msg_obj) {
            var json_str = msg_obj["data"];
            var info = JSON.parse(json_str);
            var question_id = info["question_id"];
            var url = info["url"];
            var msg = "Question X was answered. Click <a href='" + url + "'>here</a> to view it.";

            console.log('onMessage');
            tell_user('something: ' + msg);
            // tell_user(msg_obj.data);
        }
        function onError(obj) {
            console.log('onError');
        }
        function onClose(obj) {
            console.log('onClose');
        }

        var channel = new goog.appengine.Channel('{{ channel_token }}');
        var socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>
    <!-- -->

    <h1>Notices</h1>
    <div id="CycleChannelMessages">&nbsp;</div>

    <h1 id="">Question Activity</h1>
    {% set accepted_answer = question.accepted_answer %}
    <div class="well">
        {{ question.content }}
        {% if accepted_answer is not none %}
            <div class="control-group well">
                <div class="control-label">Accepted Answer</div>
                <div>&nbsp;</div>
                <div class="controls">
                    {{ accepted_answer.content|safe }}
                </div>
            </div>
        {% endif %}
    </div>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Content</th>
                <th>Replied on</th>
                <th>Location</th>
                {% if accepted_answer is none %}
                    <th>&nbsp;</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            {% set question_id = question.key.id() %}
            {% set answer_id = answer.key.id() %}
            <tr>
                <td>{{ answer_id }}</td>
                <td>{{ answer.added_by }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.timestamp }}</td>
                <td>{{ answer.location }}</td>
                {% if accepted_answer is none %}
                    <td>
                        <form method="post" action="{{ url_for('accept_answer_for_question', question_id=question_id, answer_id=answer.key.id()) }}">
                            <button class="btn btn-success btn-sm">Accept</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% else %}
            <tr><td colspan="5">No answers yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {% if user %}
        <a class="btn btn-primary" data-toggle="modal" data-target="#new-answer-modal">
            <i class="icon-plus-sign icon-white"></i>
            Post an answer
        </a>
        {% else %}
            <h4><a href={{ login_url }}>Login to post an answer</a></h4>
        {% endif %}
    </p>


{% endblock content %}


{% block footer %}
    {% include 'new_answer.html' %} {# pull in new_answer form (modal dialog) #} 
{% endblock footer %}

{% block tail_script %}
    <script>
        var FormHelpers = {
            geosuccess: function (position) {
                $('#locationLat').val(position.coords.latitude);
                $('#locationLong').val(position.coords.longitude);
                $('#location').val(position.coords.latitude + "," +position.coords.longitude);

            },
            geoerror: function (msg) {
                alert(msg);
            },
            validate: function (form, evt) {
                // Form validation for modal dialog
                var answer_content = form.find('#content').val();
                if (!(answer_content)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#content', 'Content is required', 'right');
                }
                var answer_loc_lat = form.find('#locationLat').val();
                if (!(answer_loc_lat)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#locationLat', 'Latitude is required', 'right');
                }
                var answer_loc_long = form.find('#locationLong').val();
                if (!(answer_loc_long)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#locationLong', 'Longitude is required', 'right');
                }
            },
            init: function () {
                var self = this;
                if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(self.geosuccess, self.geoerror);
                } else {
                  alert('Geolocation not supported');
                }
                var answer_form = $('#new-answer-form');
                answer_form.on('submit', function (evt) {
                    self.validate(answer_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
        });
    </script>
{% endblock tail_script %}
