{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Questions</h1>
    <div>&nbsp;</div>
    <p>
        {% if user %}
            <h4><a href="{{ url_for('list_questions_for_user') }}">Ask a new question</a></h4>
        {% else %}
            <h4><a href="{{ url_for('login') }}">Login to ask a question</a></h4>
        {% endif %}
    </p>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Content</th>
                <th>Asked on</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            {% set question_id = question.key.id() %}
            <tr>
                <td>{{ question_id }}</td>
                <td>{{ question.added_by }}</td>
                <td><a href="{{ url_for('answers_for_question', question_id=question_id) }}">
                        {{ question.content }}
                    </a>
                </td>
                <td>{{ question.timestamp }}</td>
                <td>{{ question.location }}</td>
            </tr>
            {% else %}
            <tr><td colspan="5">No questions yet</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="map-canvas">

    </div>
{% endblock content %}


{% block footer %}
    {% include 'search_questions.html' %}

    {% include 'new_question.html' %} {# pull in new_question form (modal dialog) #} 
{% endblock footer %}


{% block tail_script %}
    <script src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script>
        function initialize() {
            var mapCanvas = document.getElementById('map-canvas');
            var mapOptions = {
              center: new google.maps.LatLng(44.5403, -78.5463),
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions)
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock tail_script %}