<div class="modal fade" id="new-answer-modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New Answer</h3>
    </div>
    <div class="modal-body">
        <form id="new-answer-form" class="well"
            action="{{ url_for('new_answer', question_id=question.key.id()) }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.content.label }}</div>
                    <div class="controls">
                        {{ form.content|safe }}
                        {% if form.content.errors %}
                        <ul class="errors">
                            {% for error in form.content.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.location.label }}</div>
                    <div class="controls">
                        <input id="locationLat" name="locationLat" type="text"/>
                        <input id="locationLong" name="locationLong" type="text"/>
                        <input id="location" name="location" type="hidden"/>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add Answer"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    </div>
</div>
