<form id="search-questions-form" class="well"
    action="{{ url_for('search_questions') }}" method="post" accept-charset="utf-8">
    <fieldset>
        {{ search_form.hidden_tag() }}
        <div class="control-group">
            <div class="control-label">{{ search_form.latitude.label }}</div>
            <div class="controls">
                {{ search_form.latitude|safe }}
                {% if search_form.latitude.errors %}
                <ul class="errors">
                    {% for error in search_form.latitude.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">{{ search_form.longitude.label }}</div>
            <div class="controls">
                {{ search_form.longitude|safe }}
                {% if search_form.longitude.errors %}
                <ul class="errors">
                    {% for error in search_form.longitude.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">{{ search_form.distance_in_km.label }}</div>
            <div class="controls">
                {{ search_form.distance_in_km|safe }}
                {% if search_form.distance_in_km.errors %}
                <ul class="errors">
                    {% for error in search_form.distance_in_km.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="Search"/>
                <button class="btn" id="cancel" data-dismiss="modal">Clear</button>
            </div>
        </div>
    </fieldset>
</form>

