{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">Welcome {{ user }}</h1>
    <div>&nbsp;</div>

    <h3>Current location</h3>
    <div>Your home location is not set.</div>
    <div id="map-canvas-profile"></div>
    <p>
        <button>Set as home location</button>
        <div>Click the button to receive notications for new questions.</div>
    </p>

    <div>&nbsp;</div>
    <h3>Recent Activity</h3>
    <div>&nbsp;</div>

    <h4><a href="{{ url_for('list_questions_for_user') }}">{{ question_count }}</a> questions asked.</h4>
    <h4>{{ answer_count }} answers provided.</h4>
    <div>&nbsp;</div>

{% endblock content %}

{% block tail_script %}
    <script src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script>
        function displayonmap(position) {
            var mapCanvas = document.getElementById('map-canvas-profile');
            var mapOptions = {
              center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            // To add the marker to the map, use the 'map' property
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                map: map,
                draggable: true,
                title:"Me"
            });
        }

        function geosuccess(position) {
            displayonmap(position);
        }
        function geoerror(msg) {
            alert(msg);
        }
        function getgeolocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(geosuccess, geoerror);
            } else {
                alert('Geolocation not supported');
            }
        }
        $(document).ready(function() {
            getgeolocation();
        });
    </script>

{% endblock tail_script %}