#notice
  = notice

%br
= link_to(new_user_image_path(current_user), class: "btn btn-primary btn-block") do
  %span.glyphicon.glyphicon-upload 
  Upload an Image
%br
= link_to(user_images_path(current_user), class: "btn btn-primary btn-block") do
  %span.glyphicon.glyphicon-picture
  View all images