%p
  There are a total of
  %strong= Image.s3_bucket.objects.count
  objects (images, thumbnails) in the 
  %strong #{Image.s3_bucket_name}
  S3 bucket, across
  %strong= Image.count
  (database) images.
%p
  = link_to "Purge Images", manager_purge_images_path, data: {method: :post, confirm: "This will delete all original images and associated transformations. Are you sure?"}, class: "btn btn-danger"
